* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Pacifico';
    font-weight: normal;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px; 
    font-size: 18px;  
}

header nav li a {
        color: #ecf0f1;
        text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos img {
    height: 24px;
}

.produtos li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    /* height: 150px; */
    width: 100%;  
    margin-right: auto; 
}
.articles article {
    width: 30%;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    
}

.articles article h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgba(0, 0, 255, 0.541);
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 24px;
}

articles article a:hover {
    text-decoration: underline;
}

.articles article h2 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

.articles article h3 {
    font-size: 24px;
}

section h3 {
    font-size: 32px;

section {
    color: #182c61
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.produtos img {
    height: 80px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact.container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input 
form textarea
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;